.task {
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    box-sizing: border-box;
}

.tasks-warning-popup {
    display: none;
    color: #333;
    position: fixed;
    min-width: 90%;
    text-align: center;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #333;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.tasks-warning-popup-img {
    padding-top: 20px;
}

.tasks-warning-popup-message {
    padding: 20px;    
}

.tasks-warning-popup-btns {
    display: flex;
}

.tasks-warning-popup-btn {
    cursor: pointer;
    font-size: 21px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 15px 0;
    border: 0px solid transparent;
}

.tasks-clear-btn {
    cursor: pointer;
    font-size: 24px;
    color: #C2FFBD;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 20px;
}

.tasks-empty-title {
    color: #555;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}

.task-form {
    width: 100%;
    position: fixed;
    bottom: -80px;
    left: 0px;
    padding: 15px 20px;
    background: #2C2C2C;
    box-sizing: border-box;
    border-top: 1px solid #000;
}

.task-form-close {
    font-size: 21px;
    position: absolute;
    right: 20px;
    top: -41px;
    background: #2C2C2C;
    padding: 8px 25px;
    border-color: #000;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}

.task-form-input {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.task-form-input-history {
    color: #333;
    display: none;
    position: absolute;
    max-height: 215px;
    width: 70%;
    left: 0px;
    bottom: 45px;
    padding: 10px 15px;
    margin: 0;
    background: #fff; 
    border-radius: 6px;
    box-sizing: border-box;
}

.task-form-input-history>li {
    cursor: pointer;
    display: block;
    list-style: none;
    padding: 10px 0px;
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
}

.task-form-input-history>li:active {
    background: #f9f9f9;
}

.task-form-input-history>li:last-child {
    border-bottom: 0px solid transparent;
}

.task-form-btn {
    color: #396935;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    background: #C2FFBD;
    padding: 15px;
    border: 0px solid transparent;
    border-radius: 6px;
    outline: none;
}

.task-form-input>input {
    color: #555;
    outline: none;
    font-size: 16px;
    margin: 0; 
    padding: 12px 15px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    border: 0px solid transparent;
}

.task-form-input-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-form-input-label>input {
    text-align: center;
}

.task-form-input-label>label {
    font-size: 18px;
}

.task-form-input>input::placeholder {
    color: #999; 
}

.task-form-text {
    width: 100%;
    margin-right: 15px;
}

.task-form-num {
 text-align: right;
}

.task-complete {
    font-size: 24px;
    width: 15% 10%;
    margin-right: 15px;
}

.task-title {
    width: 80%;
}

.task-amount {
    width: 5%;
}